@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0f1923;
  color: #ece8e1;
  font-family: sans-serif;
}

.glass-panel {
  background: rgba(27, 39, 51, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.vlr-font {
  font-family: 'Tungsten-Bold', sans-serif; 
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -0.05em;
}