# Connection string from Atlas, used to connect to shared MongoDB database

# VERY IMPORTANT NOTE: This is only a placeholder
# On your own local machine, please create a new file in the server folder called .env
# Then after "MONGODB_URI=" replace the link with the private connection string to the database
# (The database credentials are made private for security purposes)

MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/videogamestats